<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Website title -->
    <title>URL Shortner</title>
    <!-- Website Icon -->
    <link rel="shortcut icon" href="https://reubz.io/Assets/imgs/url-shortner-icon.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="https://reubz.io/Assets/imgs/url-shortner-icon.png">

    <!-- Manifest -->
    <link rel="manifest" href="/manifest.json">
    
    <!-- Primary Tags -->
    <meta name="title" content="Reuben George">
    <meta name="description" content="Reubz - Url Shortner App">

    <!-- Open Graph / Facebook / Insta -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://reubz.io/urlshortner">
    <meta property="og:title" content="URL Shortner">
    <meta property="og:description" content="Reuben George - Url Shortner App">
    <meta property="og:image" content="https://reubz.io/Assets/banners/urlshortner-banner.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://reubz.io/urlshortner">
    <meta property="twitter:title" content="URL Shortner">
    <meta property="twitter:description" content="Reuben George - Url Shortner App">
    <meta property="twitter:image" content="https://reubz.io/Assets/banners/urlshortner-banner.png">

    <!-- For Discord Embeds -->
    <meta content="#202020" data-react-helmet="true" name="theme-color" />

    <link rel="stylesheet" href="/css/urlshortner.css">
</head>

<body>
    <header>
        <nav>
            <div class="navbar navbar-start">
                <ul>
                    <li><a href="/" class="navbar-item"><i class="fa-solid fa-home"></i> Home</a></li>
                    <li><a href="#all-links" class="navbar-item"><i class="fa-solid fa-link"></i> All Links</a></li>
                </ul>
            </div>
            <div class="navbar logo-brand navbar-center iss-hidden">
                <a href="/" class="navbar-item">
                    <h1>Reuben George</h1>
                </a>
            </div>
            <div class="navbar navbar-end">
                <ul>
                    <li><a href="#contact" class="navbar-item"><i class="fa-solid fa-envelope"></i> Contact Me</a></li>
                    <% if(user.id==undefined) {%>
                        <li><a href="/login" class="navbar-item"><i class="fa-solid fa-right-to-bracket"></i>
                                Login</a></li>
                        <% } else { %>
                            <li><a href="/logout" class="navbar-item"><i class="fa-solid fa-right-from-bracket"></i>
                                    Logout</a></li>
                            <% } %>
                </ul>
            </div>
            <div id="hamburger-menu" onclick="openMobileMenu(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
                <ul class="mobile-menu">
                    <li><a class="navbar-item" href="/"><i class="fa-solid fa-home"></i> Home</a></li>
                    <li><a class="navbar-item" href="#contact"><i class="fa-solid fa-envelope"></i> Contact Me</a></li>
                    <% if(user.id==undefined) {%>
                        <li><a href="/login" class="navbar-item"><i class="fa-solid fa-right-to-bracket"></i>
                                Login</a></li>
                        <% } else { %>
                            <li><a id="logout-btn" onmouseover="logoutHover()"
                                    onmouseleave="logoutHoverLeave( '<%= user.username %>' , '<%= user.id %>', '<%= user.role %>' )"
                                    href="/logout" class="navbar-item">
                                    <i class="fa-solid fa-user"></i>
                                    <%= user.username %>
                                </a></li>
                            <% } %>
                </ul>
            </div>
        </nav>


    </header>

    <div class="spacer layer1"></div>
    <section id="create-link-section" class="section1">
        <div class="form-section">
            <h1 class="title nunito form-title">Here's Your Shortened Link</h1>
            <a class="short-link" href="https://<%=domain%>/<%=data.slug%>">https://<%=domain%>/<%=data.slug%></a>
            <a href="<%= data.qrcode %>" download="<%= data.slug %>">
                <img src="<%= data.qrcode %>" alt="QR Code" class="qrcode">
            </a>

            <div class="confirmed-actionbtns-wrapper"    >
                <button class="copy-btn" onclick="copyText()">Copy Text <i class="fa-regular fa-copy"></i></button>
                <input class="" style="display: none;" type="text" value="https://<%=domain%>/<%=data.slug%>" id="copy-text">
                <a href="<%= data.qrcode %>" download="<%= data.slug %>">
                    <button class="download-btn">Download QR Code <i class="fa-solid fa-download"></i></button>
                </a>
            </div>

        </div>
    </section>
    <div class="spacer layer1 rotate"></div>

    <section class="section2">
        <% if(allLinks.length>0) { %>
            <h1 class="title nunito">All Links</h1>
            <div class="all-links">
                <% allLinks.forEach(function(link){ %>
                    <div class="alink-card">
                        <div class="alinks">
                            <a class="alink-customurl alink" target="_blank" href="https://<%=domain%>/<%=link.slug%>">
                                <%=domain%>/<%=link.slug%>
                            </a>

                            <a href="<%=link.href%>" target="_blank" class="alink-href alink">
                                <%=link.href%>
                            </a>
                        </div>
                        <div class="buttons">
                            <button class="alink-disable" type="button" onclick="disableLink('<%=link.id%>')"><i
                                    class="fa-regular fa-eye-slash"></i></button>
                            <button class="alink-delete" type="button" onclick="deleteLink('<%=link.id%>')"><i
                                    class="fa-regular fa-trash-can"></i></button>
                        </div>
                    </div>
                    <% }); %>
            </div>
            <% } %>

                <% if(disabledLinks.length>0) { %>
                    <h3 class="title nunito">Disabled Links</h3>
                    <div class="all-links">
                        <% disabledLinks.forEach(function(link){ %>
                            <div class="alink-card">
                                <div class="alinks">
                                    <a class="alink-customurl alink" target="_blank"
                                        href="https://<%=domain%>/<%=link.slug%>">
                                        <%=domain%>/<%=link.slug%>
                                    </a>

                                    <a href="<%=link.href%>" target="_blank" class="alink-href alink">
                                        <%=link.href%>
                                    </a>
                                </div>
                                <div class="buttons">
                                    <button class="alink-disable" type="button" onclick="disableLink('<%=link.id%>')"><i
                                            class="fa-regular fa-eye-slash"></i></button>
                                    <button class="alink-delete" type="button" onclick="deleteLink('<%=link.id%>')"><i
                                            class="fa-regular fa-trash-can"></i></button>
                                </div>
                            </div>
                            <% }); %>
                    </div>
                    <% } %>

    </section>





    <footer>
        <hr class="dark-small-line">
        <div id="contact" class="contact">
            <h1 class="title">Contact Me</h1>
            <div class="links">
                <div class="left-container">
                    <a class="link" href="/email" aria-label="Email" target="_blank"><i
                            class="fa-regular fa-envelope"></i>Email</a>
                    <a class="link" href="/twitter" aria-label="Twitter" target="_blank"><i
                            class="fa-brands fa-twitter"></i>Twitter</a>

                </div>
                <div class="right-container">
                    <a class="link" href="/discord" aria-label="Discord" target="_blank"><i
                            class="fa-brands fa-discord"></i>Discord</a>
                    <a class="link" href="/instagram" aria-label="Instagram" target="_blank"><i
                            class="fa-brands fa-instagram"></i>
                        Instagram</a>
                </div>
            </div>
        </div>
        <p class="copyright">
            © 2024 by
            <a href="/github" target="_blank">Reuben George</a>.
        </p>

    </footer>


    <script src="/js/urlshortner.js"></script>
    <script src="https://kit.fontawesome.com/4d3f484b6f.js" crossorigin="anonymous"></script>

</body>

</html>