<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Website title -->
    <title>URL Shortner</title>
    <!-- Website Icon -->
    <link rel="shortcut icon" href="https://reubz.io/Assets/imgs/url-shortner-icon.png" type="image/x-icon">

    <!-- Primary Tags -->
    <meta name="title" content="Reuben George">
    <meta name="description" content="Reubz - Url Shortner App">

    <!-- Open Graph / Facebook / Insta -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://reubz.io/urlshortner">
    <meta property="og:title" content="URL Shortner">
    <meta property="og:description" content="Reuben George - Url Shortner App">
    <meta property="og:image" content="https://reubz.io/Assets/imgs/url-shortner.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://reubz.io/urlshortner">
    <meta property="twitter:title" content="URL Shortner">
    <meta property="twitter:description" content="Reuben George - Url Shortner App">
    <meta property="twitter:image" content="https://reubz.io/Assets/imgs/url-shortner.png">

    <!-- For Discord Embeds -->
    <meta content="#202020" data-react-helmet="true" name="theme-color" />



    <link rel="stylesheet" href="/css/urlshortner.css">
</head>

<body>
    <header>
        <nav>
            <div class="navbar navbar-start">
                <ul>
                    <li><a href="/" class="navbar-item"><i class="fa-solid fa-home"></i> Home</a></li>
                    <li><a href="#all-links" class="navbar-item"><i class="fa-solid fa-link"></i> All Links</a></li>
                </ul>
            </div>
            <div class="navbar logo-brand navbar-center iss-hidden">
                <a href="/" class="navbar-item">
                    <h1>Reuben George</h1>
                </a>
            </div>
            <div class="navbar navbar-end">
                <ul>
                    <li><a href="#contact" class="navbar-item"><i class="fa-solid fa-envelope"></i> Contact Me</a></li>
                    <% if(user.id==undefined) {%>
                        <li>
                            <a href="/login" class="navbar-item"><i class="fa-solid fa-right-to-bracket"></i> Login</a>
                        </li>
                    <% } else { %>
                        <li><a id="logout-btn" onmouseover="logoutHover()"
                                onmouseleave="logoutHoverLeave( '<%= user.username %>' , '<%= user.id %>', '<%= user.role %>' )"
                                href="/logout" class="navbar-item">
                                <i class="fa-solid fa-user"></i> 
                                <%= user.username %>
                            </a>
                        </li>
                    <% } %>



                </ul>
            </div>
            <div id="hamburger-menu" onclick="openMobileMenu(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
                <ul class="mobile-menu">
                    <li><a class="navbar-item" href="/"><i class="fa-solid fa-home"></i> Home</a></li>
                    <li><a class="navbar-item" href="#contact"><i class="fa-solid fa-envelope"></i> Contact Me</a></li>
                    <% if(user.id==undefined) {%>
                        <li>
                            <a href="/login" class="navbar-item"><i class="fa-solid fa-right-to-bracket"></i>Login</a>
                        </li>
                    <% } else { %>
                        <li>
                            <a href="/logout" class="navbar-item"><i class="fa-solid fa-right-from-bracket"></i>Logout</a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </nav>


    </header>


    <div class="spacer layer1"></div>
    <section id="create-link-section" class="section1">
        <div class="form-section">
            <form method="post" action="/urlshortner" class="form">
                <label class="labels" for="linkName">Destination URL:</label>
                <div class="input-group">
                    <span class="input-addon">Long Url</span>
                    <input class="input-text" required placeholder="Enter Link Here" type="url" name="href" id="href"
                        pattern="(https?:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&//=]*)">
                </div>
                <div class="spacebar"></div>
                <label class="labels" for="endPointName">Custom Endpoint: </label>
                <div class="input-group">
                    <span class="input-addon">
                        <%=domain%>/
                    </span>
                    <input class="input-text" required placeholder="Enter Short Name" type="text" name="slug" id="slug"
                        pattern="[0-9a-zA-Z]{4,}">
                </div>
                <div class="spacebar"></div>
                <label class="labels">Expires In: </label>
                <div class="radio">
                    <input label="12 Hours" type="radio" id="12-Hours" name="expiryTime" value="expireAt12H" checked>
                    <input label="1 Day" type="radio" id="1-Day" name="expiryTime" value="expireAt1D">
                    <input label="3 Days" type="radio" id="3-Day" name="expiryTime" value="expireAt3D">
                    <input label="1 Week" type="radio" id="1-Week" name="expiryTime" value="expireAt1W">
                    <input label="2 Weeks" type="radio" id="2-Week" name="expiryTime" value="expireAt2W">
                    <input label="1 Month" type="radio" id="1-Month" name="expiryTime" value="expireAt1M">
                    <input label="Never" type="radio" id="null" name="expiryTime" value="null">
                </div>
                <br>
                <div id="helptext"></div>
                <input id="submit-btn" type="submit" value="Submit">

            </form>


        </div>
    </section>
    <div class="spacer layer1 rotate"></div>

    <section class="section2" id="all-links">
        <% if(allLinks.length>0) { %>

            <h1 class="title nunito">All Links</h1>

            <div class="all-links">
                <% allLinks.forEach(function(link){ %>
                    <div class="alink-card">
                        <div class="alinks">
                            <a class="alink-customurl alink" target="_blank" href="https://<%=domain%>/<%=link.slug%>">
                                <%=domain%>/<%=link.slug%>
                            </a>

                            <a href="<%=link.href%>" target="_blank" class="alink-href alink">
                                <%=link.href%>
                            </a>
                        </div>
                        <div class="buttons">
                            <button class="alink-disable" type="button" onclick="disableLink('<%=link.id%>')"><i
                                    class="fa-regular fa-eye-slash"></i></button>
                            <button class="alink-delete" type="button" onclick="deleteLink('<%=link.id%>')"><i
                                    class="fa-regular fa-trash-can"></i></button>
                        </div>
                    </div>
                    <% }); %>
            </div>
        <% } %>

        <% if(disabledLinks.length> 0) { %>
            <h3 class="title nunito">Disabled Links</h3>
            <div class="all-links">
                <% disabledLinks.forEach(function(link){ %>
                    <div class="alink-card">
                        <div class="alinks">
                            <a class="alink-customurl alink" target="_blank"
                                href="https://<%=domain%>/<%=link.slug%>">
                                <%=domain%>/<%=link.slug%>
                            </a>

                            <a href="<%=link.href%>" target="_blank" class="alink-href alink">
                                <%=link.href%>
                            </a>
                        </div>
                        <div class="buttons">
                            <button class="alink-disable" type="button" onclick="disableLink('<%=link.id%>')"><i
                                    class="fa-regular fa-eye"></i></button>
                            <button class="alink-delete" type="button" onclick="deleteLink('<%=link.id%>')"><i
                                    class="fa-regular fa-trash-can"></i></button>
                        </div>
                    </div>
                    <% }); %>
            </div>
        <% } %>
    </section>





    <footer>
        <hr class="dark-small-line">
        <div id="contact" class="contact">
            <h1 class="title">Contact Me</h1>
            <div class="links">
                <div class="left-container">
                    <a class="link" target="_blank" aria-label="Email" href="/email"><i
                            class="fa-regular fa-envelope"></i>Email</a>
                    <a class="link" target="_blank" aria-label="Twitter" href="/twitter"><i
                            class="fa-brands fa-twitter"></i>Twitter</a>

                </div>
                <div class="right-container">
                    <a class="link" target="_blank" aria-label="Discord" href="/discord"><i
                            class="fa-brands fa-discord"></i>Discord</a>
                    <a class="link" target="_blank" aria-label="Instagram" href="/instagram"><i
                            class="fa-brands fa-instagram"></i>
                        Instagram</a>
                </div>
            </div>
        </div>
        <p class="copyright">
            © 2022 by
            <a href="/github" target="_blank">Reuben George</a>.
        </p>

    </footer>


    <script src="/js/urlshortner.js"></script>
    <script src="https://kit.fontawesome.com/4d3f484b6f.js" crossorigin="anonymous"></script>
    <!-- Error 1 means the url slug is already in use -->
    <% if(error==1) { %>
        <script>
            alert("Short Name already in use!")
        </script>
    <% } %>

    <% if(user.role != "basic" || user.role != "admin" ) { %>

        <script>
            let arrayOfBtns = [
                document.getElementById('2-Week'),
                document.getElementById('1-Month'),
                document.getElementById('null'),
            ]
            arrayOfBtns.forEach((btn) => {
                btn.disabled = true;
                btn.classList.add("expiry-btn-hover")
                btn.onclick = function () { alert("You need to login to have higher Expiry Dates") }
            })
            document.getElementById("helptext").textContent = "You need to login to have higher Expiry Dates"
        </script>

        <% } %>
</body>

</html>