<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="language" content="en">
    <meta name="google-site-verification" content="er6hWYMyw8D50TwLMl_sN0sTEg9_tXgH0MjLy92fMVw" />

    <!-- Meta Tags -->
    <!-- Website Title -->
    <title>Reuben George</title>

    <!-- Icon -->
    <link rel="shortcut icon" href="https://reubz.io/Assets/imgs/pfp.png" type="image/x-icon">

    <!-- Primary Tags -->
    <meta name="title" content="Reuben George">
    <meta name="description" content="Portfolio Website.">

    <!-- Open Graph / Facebook / Insta -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://reubz.io/">
    <meta property="og:title" content="Reuben George">
    <meta property="og:description" content="Portfolio Website.">
    <meta property="og:image" content="https://reubz.io/Assets/imgs/pfp.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://reubz.io/">
    <meta property="twitter:title" content="Reuben George">
    <meta property="twitter:description" content="Portfolio Website.">
    <meta property="twitter:image" content="https://reubz.io/Assets/imgs/pfp.png">

    <!-- For Discord Embeds -->
    <meta content="#202020" data-react-helmet="true" name="theme-color" />


    <!-- Css Files -->
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/common.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap"
        rel="preload" as="style">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet" media="print" onload="this.media='all'">
    <noscript>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" />
    </noscript>
</head>

<body>
    <div id="loading-layer">
        <div class="loading-container">
            <h1 id="loading-data" data-text="reubz">reubz</h1>
        </div>
    </div>
    <div id="homepage-wrapper">
        <header>
            <nav>
                <!-- Pc Navbar -->
                <div class="navbar logo-brand navbar-start">
                    <a href="/" class="navbar-item">
                        <h1>Reuben George</h1>
                    </a>
                </div>
                <div class="navbar navbar-end">
                    <ul>
                        <li><a href="#projects" class="navbar-item underlineText">Projects</a></li>
                        <li><a href="/files/Resume.pdf" class="navbar-item underlineText" target="_blank">Resume</a>
                        </li>
                        <li><a href="#contact" class="navbar-item underlineText">Contact</a></li>
                    </ul>
                </div>

                <!-- Mobile Navbar -->
                <div id="hamburger-menu" onclick="openMobileMenu(this)">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                    <ul class="mobile-menu">
                        <li><a href="#projects" class="navbar-item underlineText">Projects</a></li>
                        <li><a href="/files/Resume.pdf" class="navbar-item underlineText" target="_blank">Resume</a>
                        </li>
                        <li><a href="#contact" class="navbar-item underlineText">Contact</a></li>
                    </ul>
                </div>

            </nav>
        </header>

        <!-- Main Container -->
        <main>
            <section id="landing-page">
                <div class="wrapper">
                    <div class="left">
                        <h3>
                            <span class="yellow">console.log</span><span class="pink">(</span><span
                                class="orange">"Hello"</span><span class="pink">)</span>;
                        </h3>
                        <div class="quick-links">
                            <a href="/github">
                                <i class="fa-brands fa-github fa-3x"></i>
                            </a>
                            <a href="/linkedin">
                                <i class="fa-brands fa-linkedin fa-3x"></i>
                            </a>
                        </div>
                    </div>
                    <div class="right scene" id="scene">
                        <div class="hero-img" data-depth="0.5"></div>
                    </div>
                </div>
                <a class="scroll-down" href="#introduction">
                    <i class="fa-solid fa-angle-down fa-4x fa-bounce" style="color: #ffffff;"></i>
                    <p class="text">Scroll Down!</p>
                </a>
            </section>
            <section id="introduction">
                <div class="intro-left">
                    <div class="intro-img">
                        <img src="/Assets/imgs/snap.jpg" alt="">
                    </div>
                </div>
                <div class="intro-right">
                    <h1 class="title">About Me:</h1>
                    <p class="bold-header">
                        <%= aboutMe.title %>
                    </p>
                    <br>

                    <% aboutMe.description.forEach(function(desc) { %>
                        <p class="description">
                            <%= desc %>
                        </p>
                        <% }) %>
                            <br>
                            <br>
                            <div id="tech-stack">
                                <p class="header">Tech Stack</p>
                                <span>|</span>
                                <div class="tech-icons">
                                    <ul>
                                        <li><img title="HTML5" src="/Assets/svgs/html.svg" draggable="false"
                                                alt=""><span class="tooltiptext">HTML5</span></li>
                                        <li><img title="CSS3" src="/Assets/svgs/css3.svg" draggable="false" alt=""><span
                                                class="tooltiptext">CSS3</span></li>
                                        <li><img title="Javascript" src="/Assets/svgs/javascript.svg" draggable="false"
                                                alt=""><span class="tooltiptext">Javascript</span></li>
                                        <li><img title="React" src="/Assets/svgs/react.svg" draggable="false"
                                                alt=""><span class="tooltiptext">React</span></li>
                                        <li><img title="Sass/Scss" src="/Assets/svgs/scss.svg" draggable="false"
                                                alt=""><span class="tooltiptext">Sass/Scss</span></li>
                                        <li><img title="NodeJS" src="/Assets/svgs/nodejs.svg" draggable="false"
                                                alt=""><span class="tooltiptext">NodeJS</span></li>
                                        <li><img title="MongoDB" src="/Assets/svgs/mongodb.svg" draggable="false"
                                                alt=""><span class="tooltiptext">MongoDB</span></li>
                                    </ul>
                                </div>
                            </div>
                </div>
            </section>

            <section id="projects">
                <h1 class="title">Projects</h1>

                <div id="projects-gallery" class="projects-gallery">

                    <% projects.forEach(function(project){ %>

                        <% if(project.projectId % 2 !=0){ %>
                            <div class="project project-reverse" onmouseover="scrollImage(this)"
                                onmouseout="returnImage(this)">

                                <% } else { %>
                                    <div class="project" onmouseover="scrollImage(this)" onmouseout="returnImage(this)">
                                        <% }%>

                                            <div class="proj-desc">
                                                <div>
                                                    <h2 class="project-title">
                                                        <%= project.name %>
                                                    </h2>
                                                    <p class="project-description">
                                                        <%= project.description %>
                                                    </p>
                                                </div>
                                                <div class="proj-btns">
                                                    <% if(project.code) { %>
                                                        <a target="_blank" href="<%=project.code%>">Code <i
                                                                class="fa-brands fa-github"></i></a>
                                                        <% } %>
                                                            <!--  -->
                                                            <% if(project.live) { %>
                                                                <a target="_blank" href="<%=project.live%>">Live Demo <i
                                                                        class="fa-solid fa-link"></i></a>
                                                                <% } %>

                                                </div>
                                            </div>
                                            <div class="proj-img">
                                                <a href="">
                                                    <img src="<%= project.img %>" alt="Project Image">
                                                </a>
                                            </div>
                                    </div>
                                    <% }) %>
                            </div>
                            <div class="projs-button">
                                <a href="/projects">Show More</a>
                            </div>
            </section>
        </main>
        <footer>
            <section id="contact">
                <h1 class="title">Contact</h1>
                <div class="email">
                    <a href="/email" target="_blank">
                        <div class="email-btn-left">
                            <i class="fa-solid fa-envelope fa-5x" style="color: #ffffff"></i>
                        </div>
                        <div class="email-btn-right">
                            <p id="email-header">Email</p>
                            <p id="email-id">contact@reubz.io</p>
                        </div>
                    </a>
                </div>
            </section>
            <section id="socials">
                <div class="copyright">
                    <p>&COPY; 2023 by Reuben George. All Rights Reserved.</p>
                </div>
                <div class="socials">
                    <a href="/instagram" target="_blank">
                        <i class="fa-brands fa-instagram fa-3x" style="color: #ffffff;"></i>
                    </a>
                    <a href="/twitter" target="_blank">
                        <i class="fa-brands fa-twitter fa-3x" style="color: #ffffff;"></i>
                    </a>
                    <a href="/discord" target="_blank">
                        <i class="fa-brands fa-discord fa-3x" style="color: #ffffff;"></i>
                    </a>
                    <a href="/github" target="_blank">
                        <i class="fa-brands fa-github fa-3x" style="color: #ffffff;"></i>
                    </a>
                    <a href="/linkedin" target="_blank">
                        <i class="fa-brands fa-linkedin fa-3x" style="color: #ffffff;"></i>
                    </a>
                </div>
            </section>


        </footer>
    </div>


    <!-- Script Files -->
    <script src="https://kit.fontawesome.com/4d3f484b6f.js" crossorigin="anonymous"></script>
    <script src="/js/home.js"></script>
    <script src="/js/common.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script>
        if (!(/Mobi/i.test(window.navigator.userAgent))) {
            let scene = document.getElementsByClassName('scene')[0];
            let parallax = new Parallax(scene, {
                relativeInput: true,
                clipRelativeInput: true
            });
        }
    </script>
</body>

</html>