<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Meta Tags -->
    <!-- Website Title -->
    <title>Projects</title>

    <!-- Icon -->
    <link rel="shortcut icon" href="/Assets/imgs/pfp.png" type="image/x-icon">

    <!-- Primary Tags -->
    <meta name="title" content="Reuben George - Projects">
    <meta name="description" content="All my top Projects at a glance">

    <!-- Open Graph / Facebook / Insta -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://reubz.io/projects">
    <meta property="og:title" content="Reuben George - Projects">
    <meta property="og:description" content="All my top Projects at a glance">
    <meta property="og:image" content="/Assets/imgs/pfp.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://reubz.io/projects">
    <meta property="twitter:title" content="Reuben George - Projects">
    <meta property="twitter:description" content="All my top Projects at a glance">
    <meta property="twitter:image" content="/Assets/imgs/pfp.png">

    <!-- For Discord Embeds -->
    <meta content="#202020" data-react-helmet="true" name="theme-color" />



    <link rel="stylesheet" href="/css/projects.css">
    <link rel="stylesheet" href="/css/common.css">
</head>

<body>

    <header>
        <header>
            <nav>
                <!-- Pc Navbar -->
                <div class="navbar logo-brand navbar-start">
                    <a href="/" class="navbar-item">
                        <h1>Reuben George</h1>
                    </a>
                </div>
                <div class="navbar navbar-end">
                    <ul>
                        <li><a href="/" class="navbar-item underlineText">Home</a></li>
                        <li><a href="/files/Resume.pdf" class="navbar-item underlineText" target="_blank">Resume</a>
                        </li>
                        <li><a href="#contact" class="navbar-item underlineText">Contact</a></li>
                    </ul>
                </div>

                <!-- Mobile Navbar -->
                <div id="hamburger-menu" onclick="openMobileMenu(this)">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                    <ul class="mobile-menu">
                        <li><a href="/" class="navbar-item">Home</a></li>
                        <li><a href="/files/Resume.pdf" class="navbar-item" target="_blank">Resume</a></li>
                        <li><a href="#contact" class="navbar-item">Contact</a></li>
                    </ul>
                </div>

            </nav>
        </header>
    </header>
    <main>
        <div class="project-grid">

            <% projects.forEach(function(project) { %>
                <div class="project-tab">
                    <div class="proj-img">
                        <img src="<%= project.img %>" alt="Project 1img">
                    </div>
                    <div class="proj-desc">
                        <h2>
                            <%= project.name %>
                        </h2>
                        <p>
                            <%= project.description %>
                        </p>
                    </div>
                    <div class="button-group">
                        <% if(project.code) { %>
                            <a class="button" href="<%=project.code%>" target="_blank">Source Code <i
                                    class="fa-brands fa-github"></i></a>
                            <% } %>
                                <!--  -->
                                <% if(project.live) { %>
                                    <a class="button" href="<%=project.live%>" target="_blank">Live Demo <i
                                            class="fa-solid fa-link"></i></a>
                                    <% } %>

                    </div>
                </div>
                <% }) %>


        </div>
    </main>
    <footer>
        <section id="contact">
            <h1 class="title">Contact</h1>
            <div class="email">
                <a href="/email" target="_blank">
                    <div class="email-btn-left">
                        <i class="fa-solid fa-envelope fa-5x" style="color: #ffffff"></i>
                    </div>
                    <div class="email-btn-right">
                        <p id="email-header">Email</p>
                        <p id="email-id">contact@reubz.io</p>
                    </div>
                </a>
            </div>
        </section>
        <section id="socials">
            <div class="copyright">
                <p>&COPY; 2023 by Reuben George. All Rights Reserved.</p>
            </div>
            <div class="socials">
                <a href="/instagram" target="_blank">
                    <i class="fa-brands fa-instagram fa-3x" style="color: #ffffff;"></i>
                </a>
                <a href="/twitter" target="_blank">
                    <i class="fa-brands fa-twitter fa-3x" style="color: #ffffff;"></i>
                </a>
                <a href="/discord" target="_blank">
                    <i class="fa-brands fa-discord fa-3x" style="color: #ffffff;"></i>
                </a>
                <a href="/github" target="_blank">
                    <i class="fa-brands fa-github fa-3x" style="color: #ffffff;"></i>
                </a>
                <a href="/linkedin" target="_blank">
                    <i class="fa-brands fa-linkedin fa-3x" style="color: #ffffff;"></i>
                </a>
            </div>
        </section>


    </footer>

    <script src="https://kit.fontawesome.com/4d3f484b6f.js" crossorigin="anonymous"></script>
    <script src="/js/common.js"></script>



</body>

</html>